{layout name="layout" title="信息管理" /}
 <form  id="defaultForm" role="form" method="POST" enctype="multipart/form-data" action="{:url('/admin/information/edit/')}">
  
  <div class="form-group">
    <label for="exampleInputPassword">ID</label>
    <input type="text" class="form-control" value="{present name="data.iid"} {$data.iid} {/present}"  name="iid" id="iid" placeholder="请输入ID">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword">信息名称</label>
    <input type="text" class="form-control"   name="name" id="name" value="{present name="data.name"} {$data.name} {/present}" placeholder="请输入信息名称">
  </div>
 <div class="form-group">
    <label for="exampleInputPassword">信息位置</label>
   <input type="text" class="form-control"   name="location" id="location" value="{present name="data.location"} {$data.location} {/present}" placeholder="请输入信息位置">
  </div>
  
   <div class="form-group">
    <label for="exampleInputPassword">车型 </label>
   <select name="car_model" id="car_model" class="form-control">
    <option value="" {present name="data.car_model"}{if condition="$data.car_model eq ''"} selected="selected" {/if} {/present}>不选</option>
 	<option value="VV7C" {present name="data.car_model"}{if condition="$data.car_model eq 'VV7C'"} selected="selected" {/if} {/present}>VV7C</option>
 	<option value="VV7S" {present name="data.car_model"}{if condition="$data.car_model eq 'VV7S'"} selected="selected" {/if} {/present}>VV7S</option>
 	<option value="VV5S" {present name="data.car_model"}{if condition="$data.car_model eq 'VV5S'"} selected="selected" {/if} {/present}>VV5S</option>
 	<option value="P8" {present name="data.car_model"}{if condition="$data.car_model eq 'P8'"} selected="selected" {/if} {/present}>P8</option>
 	<option value="VV6" {present name="data.car_model"}{if condition="$data.car_model eq 'VV6'"} selected="selected" {/if} {/present}>VV6</option>
 	</select>
  </div>
  <br>
  <br>
  {notempty name="hotList"}
  <table class="table table-striped table-bordered table-hover">
   <thead>
     <tr>
       <th>ID</th>
       <th>热点标题 </th>
       <th>信息内容</th>
       <th>图片</th>
       <th>添加时间</th>
       <th>管理</th>
     </tr>
   </thead>
   <tbody>
   {foreach $hotList as $vo}
     <tr>
       <td>{$vo.id}</td>
       <td>{$vo.title}</td>
       <td>{$vo.content}</td>
       <td><img height="50px" width="100px" src="__ROOT__{$vo->pic}"></td>
       <td>{$vo.create_time}</td>
       <td><a onclick="return  confirm('确定删除吗，操作不可逆')" href="{:url('/admin/information/delE/id/'.$vo->id.'/iid/'.$data.id)} ">删除</a></td>
     </tr>
     {/foreach}
   </tbody>
 </table>
{/notempty}
  
  
  <div id="list">
  <div id="extend">
    <div class="form-group">
    <label for="exampleInputPassword">热点标题</label>
    <input type="text" class="form-control" name="title0" id="title0" placeholder="请输入热点标题">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword">图       片 <font color=red> *</font></label>
    <input type="file"    name="pic0" id="pic0" >
  </div>
 <div class="form-group">
    <label for="exampleInputPassword">信息内容<font color=red> *</font></label>
    <TEXTAREA name="content0" id="content0"  class="form-control">{present name="data.content"}{$data.content}{/present}</TEXTAREA>
  </div>
  </div>
  </div>
  
  <br>
  <hr>
  <a   onclick="addDiv();">添加一组信息</a>
  <br>
  <br>
 <div class="form-group">
    <label for="exampleInputEmail">状态：</label>
 	<select name="status" id="status" class="form-control">
 	<option value="1" {present name="data.status"}{if condition="$data.status eq 1"} selected="selected" {/if} {/present}>启用</option>
 	<option value="2" {present name="data.status"}{if condition="$data.status eq 2"} selected="selected" {/if} {/present}>禁用</option>
 	</select>
  </div>
   <input type="hidden" name="divCount" id="divCount" value="1">
  <input type="hidden" name="__token__" value="{$Request.token}" />
  <input type="hidden" name="id" id="id" value="{present name="data.id"}{$data.id}{/present}" />
  <button type="submit" class="btn btn-default">提交</button>
  <button type="reset" class="btn btn-default">重置</button>
 
</form>	

 <!-- 配置文件 -->
<script src="__ROOT__kindeditor/kindeditor-all.js"  type="text/javascript"></script>
<script src="__ROOT__kindeditor/lang/zh-CN.js"  type="text/javascript"></script>
<link rel="stylesheet" href="__ROOT__kindeditor/themes/default/default.css" />

 <script type="text/javascript">
$(document).ready(function() {
    $('#defaultForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
        	name: {
                message: 'The title is not valid',
                validators: {
                    notEmpty: {
                        message: '信息名称必须填写'
                    },
                }
            },
            
            iid: {
                message: 'The ID is not valid',
                validators: {
                    notEmpty: {
                        message: 'ID必须填写'
                    },
                }
            },
 
            location: {
                validators: {
                    notEmpty: {
                        message: '信息位置不能为空'
                    },
                }
            },
           
      
        }
    });
});


function addDiv()
{
	var i=$('#divCount').val();
	var div="<div id='extend"+i+"'>"
	    +"<div class='form-group'>"
	    +"<label for='exampleInputPassword'>热点标题<font color=red> *</font></label>"
	    +"<input type='text' class='form-control'    name='title"+i+"' id='title"+i+"' placeholder='请输入热点标题'>"
	    +"</div>"
	    +"<div class='form-group'>"
	    +"<label for='exampleInputPassword'>图       片 <font color=red> *</font></label>"
	    +"<input type='file'     name='pic"+i+"' id='pic"+i+"' >"
	    +"</div>"
	    +"<div class='form-group'>"
	    +"<label for='exampleInputPassword'>信息内容<font color=red> *</font></label>"
	    +"<TEXTAREA name='content"+i+"' id='content"+i+"'  class='form-control'></TEXTAREA>"
	    +"</div>"
	    +"</div>";
	$('#extend').append(div);
	i++;
	$('#divCount').val(i);
}

</script>
 

