{layout name="layout" title="会员添加" /}
 <form  id="defaultForm" role="form" method="POST"  action="{:url('/admin/user/add/')}">
   <div class="form-group">
    <label for="exampleInputUsername">用户名：</label>
    <input type="text" class="form-control" value="{present name="data.username"}{$data.username}{/present}" name="username" id="username" placeholder="请输入您的用户名">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword">密码</label>
    <input type="password" class="form-control"   name="password" id="password" placeholder="请输入您的密码">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword">确认密码</label>
    <input type="password" class="form-control"   name="confirmPassword" id="confirmPassword" placeholder="请输入您的确认密码">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail">商城ID：</label>
    <input type="text" class="form-control" name="shop_id" value="{present name="data.shop_id"}{$data.shop_id}{/present}" id="shop_id" placeholder="请输入您的商城ID">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail">商城用户名：</label>
    <input type="text" class="form-control" name="shop_username" value="{present name="data.shop_username"}{$data.shop_username}{/present}" id="shop_username" placeholder="请输入您的商城用户名">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail">真实姓名：</label>
    <input type="text" class="form-control" name="realname" value="{present name="data.realname"}{$data.realname}{/present}" id="realname" placeholder="请输入您的真实姓名">
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail">电话：</label>
    <input type="text" class="form-control" name="phone" value="{present name="data.phone"}{$data.phone}{/present}" id="phone" placeholder="请输入您的电话">
  </div>
  
   <div class="form-group">
    <label for="exampleInputEmail">状态：</label>
 	<select name="status" id="status" class="form-control">
 	<option value="1" {present name="data.status"}{if condition="$data.status eq 1"} selected="selected" {/if} {/present}>启用</option>
 	<option value="2" {present name="data.status"}{if condition="$data.status eq 2"} selected="selected" {/if} {/present}>禁用</option>
 	</select>
  </div>
  
  <input type="hidden" name="__token__" value="{$Request.token}" />
  <input type="hidden" name="id" id="id" value="{present name="data.id"}{$data.id}{/present}" />
  <button type="submit" class="btn btn-default">提交</button>
  <button type="reset" class="btn btn-default">重置</button>
</form>	

 <script type="text/javascript">
$(document).ready(function() {
    $('#defaultForm').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            username: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: '用户名必须填写'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: '用户名最短6个字最长30个字'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: '用户名只能字母数字'
                    }
                }
            },
 
            password: {
                validators: {
                    notEmpty: {
                        message: '密码不能为空'
                    },
                    identical: {
                        field: 'confirmPassword',
                        message: '密码和确认密码不一致'
                    }
                }
            },
            confirmPassword: {
                validators: {
                    notEmpty: {
                        message: '确认密码不能为空'
                    },
                    identical: {
                        field: 'password',
                        message: '密码和确认密码不一致'
                    }
                }
            },
      
        }
    });
});
</script>
